<h1>These are all the restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant)%> - <%= restaurant.address %> - <%= restaurant.phone_number %>
    <% end %>
  </li>
</ul>>

<%= link_to "Create New", new_restaurant_path %>
